#blockMask {
	background-color: black;
	opacity: 0;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

#pageLevel {
	
	overflow: hidden;
}

#top, #middle, #bottom, #levelStatus{
	position: absolute;
	width: 100%;
	left: 0px;
	overflow: hidden;
}

#top {
	background-color: black;
	top: 0px;
	height: 12%;
	left: 0px;
}

#middle {
	top: 12%;
	bottom: 12%;
}

#bottom {
	background-color: black;
	height: 12%;
	bottom: 0px;
	text-align: center;
}

#credits {
	color: white;
	height: 100%;
	overflow: hidden;
}


.menuBtn {
	background-size: contain;
	width: 27%;
	height: 80%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 3%;
	margin-left: 3%;
	position: relative;
	top: 10%;
	overflow: hidden;
}

.menuBtn.last {
	margin-right: 0px;
}

#mainMenuBtn {background-image: url('../img/level/top/menu.png');}
#mainMenuBtn:active {background-image: url('../img/level/top/menuClicked.png');}

#resetBtn {background-image: url('../img/level/top/reset.png');}
#resetBtn:active { background-image: url('../img/level/top/resetClicked.png');}

#hintBtn {background-image: url('../img/level/top/hint.png');}
#hintBtn:active {background-image: url('../img/level/top/hintClicked.png');}

#questionBtn {background-image: url('../img/level/top/question.png');}
#questionBtn:active {background-image: url('../img/level/top/questionClicked.png');}

.space {
	z-index: 100; 
	position: absolute;
	background-color: rgba(0, 0, 0, 0.85);
	overflow: hidden;
}

.plate.used{
	display: block;
	position: absolute;
	z-index: 500;
}
.plate.used .plateInner{
	background-image: -webkit-radial-gradient(center, ellipse cover, #29DFFD 0%, #3322DD 100%);
	background-image: radial-gradient(ellipse at center, #29DFFD 0%, #3322DD 100%);
	width: 50%;
	height: 50%;
	display: block;
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #29DFFD), color-stop(100%, #3322DD));
	background-image: -webkit-radial-gradient(center, ellipse cover, #29DFFD 0%, #3322DD 100%);
	background-image: radial-gradient(ellipse at center, #29DFFD 0%, #3322DD 100%);
	-webkit-animation: pulsing 0.6s ease-in-out infinite alternate;
	position: relative;
	top: 25%;
	left: 25%;
	border-radius: 50%;
}

.positionableGadget {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.gadget,
.door,
.obstacle {
	z-index: 200; 
	position: absolute;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	overflow: hidden;
}

.gadget.mobileGadget {
	z-index: 300;
}

.gadget {background-repeat: no-repeat; background-position: center center; background-size: 100% 100%;}
.gadget.mobileGadget {background-repeat: no-repeat; background-position: center center; background-size: 80% 80%, 100% 100%;}

.gadget.gadget-start {z-index: 400;}

.gadget.gadget-start {background-image: url('../img/level/gadget/popyN.png');}
.gadget.gadget-start.going-0 {background-image: url('../img/level/gadget/popyU.png');}
.gadget.gadget-start.going-3 {background-image: url('../img/level/gadget/popyL.png');}
.gadget.gadget-start.going-2 {background-image: url('../img/level/gadget/popyD.png');}
.gadget.gadget-start.going-1 {background-image: url('../img/level/gadget/popyR.png');}
.gadget.gadget-start.dead {background-image: url('../img/level/gadget/popyDead.png');}
.gadget.gadget-start.happy {background-image: url('../img/level/gadget/popyH.png');}
.gadget-exit {background-image: url('../img/level/gadget/exit.png');}
.gadget-seal {background-image: url('../img/level/gadget/seal.png');}
.gadget-forceDirection0 {background-image: url('../img/level/gadget/forceDirection0.png');}
.gadget-forceDirection1 {background-image: url('../img/level/gadget/forceDirection1.png');}
.gadget-forceDirection2 {background-image: url('../img/level/gadget/forceDirection2.png');}
.gadget-forceDirection3 {background-image: url('../img/level/gadget/forceDirection3.png');}
.gadget-teleport1_0 {background-image: url('../img/level/gadget/teleport1_0.png');}
.gadget-teleport1_1 {background-image: url('../img/level/gadget/teleport1_1.png');}
.gadget-teleport2_0 {background-image: url('../img/level/gadget/teleport2_0.png');}
.gadget-teleport2_1 {background-image: url('../img/level/gadget/teleport2_1.png');}
.gadget-teleportSwitch1 {background-image: url('../img/level/gadget/teleportSwitch1.png');}
.gadget-key {background-image: url('../img/level/gadget/key.png');}
.gadget-life {background-image: url('../img/level/gadget/life.png');}
.gadget-damage {background-image: url('../img/level/gadget/damage.png');}
.gadget-bowTrap {background-image: url('../img/level/gadget/bowTrap.png');}

.gadget.gadget-start.mobileGadget {background-image: url('../img/level/gadget/popyN.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget.gadget-start.goingUp.mobileGadget {background-image: url('../img/level/gadget/popyU.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget.gadget-start.goingLeft.mobileGadget {background-image: url('../img/level/gadget/popyL.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget.gadget-start.goingDown.mobileGadget {background-image: url('../img/level/gadget/popyD.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget.gadget-start.goingRight.mobileGadget {background-image: url('../img/level/gadget/popyR.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-exit.mobileGadget {background-image: url('../img/level/gadget/exit.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-seal.mobileGadget {background-image: url('../img/level/gadget/seal.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-forceDirection0.mobileGadget {background-image: url('../img/level/gadget/forceDirection0.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-forceDirection1.mobileGadget {background-image: url('../img/level/gadget/forceDirection1.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-forceDirection2.mobileGadget {background-image: url('../img/level/gadget/forceDirection2.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-forceDirection3.mobileGadget {background-image: url('../img/level/gadget/forceDirection3.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-teleport1_0.mobileGadget {background-image: url('../img/level/gadget/teleport1_0.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-teleport1_1.mobileGadget {background-image: url('../img/level/gadget/teleport1_1.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-teleport2_0.mobileGadget {background-image: url('../img/level/gadget/teleport2_0.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-teleport2_1.mobileGadget {background-image: url('../img/level/gadget/teleport2_1.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-teleportSwitch1.mobileGadget {background-image: url('../img/level/gadget/teleportSwitch1.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-key.mobileGadget {background-image: url('../img/level/gadget/key.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-life.mobileGadget {background-image: url('../img/level/gadget/life.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-damage.mobileGadget {background-image: url('../img/level/gadget/damage.png'), url('../img/level/gadget/mobileGadget.png');}
.gadget-bowTrap.mobileGadget {background-image: url('../img/level/gadget/bowTrap.png'), url('../img/level/gadget/mobileGadget.png');}

.door {-webkit-transition: opacity 300ms ease; transition: opacity 300ms ease;}
.doorh {background-image: url('../img/doorH.png');}
.doorv {background-image: url('../img/doorV.png');}

.sackItem {-webkit-background-size: 100% 100%; background-size: 100% 100%; float: left; height: 100%;}
.sackItem-key {background-image: url('../img/level/gadget/key.png');}

.obstacle0 {background-image: url('../img/obstacle2.png');}
.obstacle1 {background-image: url('../img/obstacle3.png');}
.obstacle2 {background-image: url('../img/obstacle0.png');}
.obstacle3 {background-image: url('../img/obstacle1.png');}

#eventMask {z-index: 700; background-size: 100% 100%; background-repeat: no-repeat; }
#tutorialMask {background-color: rgba(0,0,0,0.7); z-index: 700; height: 100%;}

#eventMessageWrapper {position: absolute; top: 15%; left: 0px; width: 100%; height: 16%; z-index: 701;}
#eventMessage {background-color: black; margin: 2%; border-radius: 10px; border-color: red; border-width: 5px; border-style: solid; color: white; padding: 2%; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;}

.disableInputMask {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: transparent; z-index: 800;}

.path {z-index: 300;}

#undoBtn,
#nextBtn,
#playBtn {
	position: relative;
	top: 20%;
	height: 60%;
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	width: 50%;
	margin: 0 auto;
	color: white;
}

#undoBtn:active,
#nextBtn:active,
#playBtn:active {
	color: -webkit-linear-gradient(#f1a165, #f36d0a);
	background-color: white; 
}

#nextBtn {
	-webkit-animation: pulsing 0.6s ease-in-out infinite alternate;
}

#controlButtonsContainer {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#controlButtonsWrapper {
	width: 66%;
	margin: 0 auto;
}

#nextCtrlBtn,
#menuCtrlBtn,
#resetCtrlBtn {
	width: 100%;
	display: block;
	padding: 5%;
	margin: 5% 0;
	font-size: 4em;
	border-radius: 1em;
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	border: 0px;
	color: white;
	font-weight: bold;
}

#nextCtrlBtn:active,
#menuCtrlBtn:active,
#resetCtrlBtn:active {
	background: white;
	color: #f1a165;
}
	
#nextLevelBtn {
	margin: 0 auto;
	background-image: linear-gradient(#f1a165, #f36d0a);
	width: 30%;
	height: 80%;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
}

.token.exp {
  -transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.token.exp.animated {
  -transform: scale(3);
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  opacity: 0;
  z-index: 100;
}

.sackItem {
	height: 80%;
	float: left;
	position: initial;
}

.progressBarContainer {
	background-color: #555;
	border-radius: 25px;
	z-index: 100;
}

.progressBar {
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	border-radius: 25px;
}

.mazeLabel {
	color: black;
	text-shadow: none;
	white-space: nowrap;
}

#tutorialContainer {
	height: 85%;
}

#tutorialWrapper {
	background-color: black;
	opacity: 1;
	width: 80%;
	height: 70%;
	position: relative;
	top: 15%;
	left: 10%;
	border-radius: 20px;
}

#tutorialWrapperInner {
	padding: 20px 20px 0px 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#tutorialBtnContainer {
	height: 15%;
}

#tutorialBtnWrapper {
	padding: 0px 20px;
	top: 20%;
	height: 60%;
	position: relative;
}

#tutorialBtn {
	width: 33%;
	height: 100%;
	font-size: 3em;
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
	border: 0px;
	border-radius: 5px;
	color: white;
	margin: 0 auto;
	display: block;
	font-family: inherit;
}

	
#tutorialInner {
	padding: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	color: white;
}
#tutorialImg {
	width: 100%;
}

.tutorialParagraph {
	color: white;
	font-size: 40px;
	text-align: center;
}

.tutorialImage {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.tutorialSubImage {
	height: 100%;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center
}

@-webkit-keyframes pulsing {
    0% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(0.77);}
}